{
  "all": true,
  "branches": 95,
  "check-coverage": true,
  "exclude": [
    "**/__specs__"
  ],
  "functions": 100,
  "include": [
    "lib/**/*.js"
  ],
  "lines": 95,
  "reporter": [
    "text",
    "html"
  ],
  "statements": 95
}
